# Random stuff
.venv
/venv
/datasetg
__pycache__/

# macOS
.DS_Store

# Eclipse / STM32CubeIDE project files
.cproject
.mxproject
.osx.project
.project
.settings/
*.ioc          # optional — some people DO commit .ioc

# Build artifacts
build/
*.o
*.elf
*.bin
*.hex
*.map

# IDE-specific
.vs/

# Claude Specific files
CLAUDE.md
.claude/
Claude_Guide.md
SD_logging_validation_prompt.md
python_parser_prompt.md

dataset/synthetic_v1.h5